@import "tailwindcss";

@theme {
  --default-font-family: "Lato", sans-serif;

  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;

  --color-green-100: #508b26;
  --color-blue-100: #355EC5;
  --color-red-100: #CC3D6A;

  --text-xxs: 0.625rem;
}

* {
  font-family: var(--default-font-family);
  box-sizing: border-box;

}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

